{%load testapp_tags%}
<nav class="navbar navbar-expand-lg bg navbar-dark">
{%if request.user.id%}
 <a class="navbar-brand" href="/update/{{request.user.id}}">Image's blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{%else%}
<a class="navbar-brand" href="#">Image's blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{%endif%}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu nav-item active" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">{%show_all_posts%}</a>
      </li>
	   <li class="nav-item active">
        <a class="nav-link" href="#">About us <span class="sr-only">(current)</span></a>
      </li>
	   <li class="nav-item active">
        <a class="nav-link" href="/upload">Upload <span class="sr-only">(current)</span></a>
      </li>&nbsp;&nbsp;
    <form class="form-inline my-2 my-lg-0" method='get' action='/search'>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='query' id='query'>
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
	</ul>
    <form class="form-inline my-2 my-lg-0" method='get' action='/search'>
      <a href="/signup" class="btn btn-outline-light">signup</a>&nbsp;&nbsp;
      <a href="/accounts/login" class="btn btn-outline-light">login</a>&nbsp;&nbsp;
      <a href="/accounts/logout" class="btn btn-outline-light">logout</a>
    </form>
  </div>
</nav>