<!DOCTYPE html>
<html>
<head>
<title>Share by mail </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
  .bg{
		background:#3f51b5;
		}
		.list-group-item.active{
		background:#3f51b5;
		border-color:#3f51b5;
		}
		body{
		background-color:#b8ded3;
		}
		#imagesview{
		padding-right:50px;
		}
		#sidecontent{
		padding-left:10px;
		}
	</style>
</head>
<body>
<div style="padding-left:20px;padding-top:20px;">
	<a href="/" class="btn btn-primary">Back</a>
 </div>
<div style="background-color:#ACDDDE">
{%if send%}
	<h4>Email successfully sent </h4>
	<h4>image : {{post.title}} sent by mail </h4>
{%else%}
	<form method="post" align="center">
<h1 style="font-family:sarif; color:red;"><hr>share "{{post.title}}" </hr>by email. </h1><hr><br>
	<h4 style="font-family:italic;">{{form.as_p}}</h4>
	{%csrf_token%}
	<input type="submit" class="btn btn-success" vale="send mail"><br><br>
</form>
</div>
{%endif%}
</body>
</html>