.bg{
background:#3f51b5;
}
.list-group-item.active{
background:#3f51b5;
border-color:#3f51b5;
}
body{
background-color:#b8ded3;
}
#imagesview{
padding-right:50px;
}
#sidecontent{
padding-left:10px;
}
h1{
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.heading,#uploaddetials{
color:blue;
  text-shadow: 3px 3px 10px #FF0000;
  }
.author{
font-size:25px;
font-weight:10px;
color: black;
text-shadow: 2px 2px 4px red;
}
.uploadpage{
padding-top:50px;
font-size:20px;
}
#sidebar1{
text-shadow: 2px 2px 4px green;
}
.sidebar2{
text-shadow: 2px 2px 4px orange;
}
.sidebar3{
text-shadow: 2px 2px 4px white;
}
.imageview{
text-shadow: 0 0 3px #FF0000;
color:rgba(255, 0, 0, 0.6);
}
#detailimage{
text-shadow: 2px 2px 5px red;
}
#login{
font-size:20px;
text-shadow: 2px 2px 5px red;
}
#loginbutton{
border-radius: 12px;
}
.h2tag{
text-shadow: 2px 2px 4px green;
}
a:hower{
color:red;
}
