<!doctype html>
{%extends 'testapp/base.html'%}
{%load blog_tags%}
{%block title%}Images - Blog{%endblock%}
<style type="text/css">
</style>
{%block image%}
	   <div class="row mt-3">
  	<div class="col-md-2" style="bacckground-color:white;padding:0 0 0 30px;
		height:100%;">
  		<div class="list-group" style="background-color:white;">
		<!-- 	Implement side blog -->
		<h4>* The total number of post : </h4> 
	<h1 align="center" style="color:blue">{%total_posts%}</h1><br>
	<h4>* Recently added posts : </h4>
	<h4>{%show_latest_posts%}</h4><br>
	<h4>* Most commented posts</h4>
	{%get_most_commented_posts as most_commented_posts%}
	<ul>
		{%for post in most_commented_posts%}
			<h4><li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li></h4>
		{%endfor%}
	</ul>
  	</div>
  	</div>
	<div class="col-md-10" id="imagesview">
	<div class="row mt-3">
		<div class="col-md-12">
			<div class="card-columns">
				{%for i in images%}
				
				<div class="card"style="float:left;padding:10px;margin:10px;background-color:#d7ceed;">
				<a href="{{i.get_absolute_url}}"  class="heading"><h3>{{i.title}}</h3></a>
				<img src="/media/{{i.image}}" class="card-img-top" alt="..." height="250" width="250"> 
				<div class="card-body">
				<div id="uploaddetials">
					<p> published on <u>{{i.publish}}</u> by 
				</div><a href="/{{i.id}}/get-users-post"><span class="author">{{i.author}}</span></a> </p>
				<a href="#" class="btn btn-primary" onclick="showModel('{{i.image}}')">View</a>&nbsp;
				<a href="/{{i.id}}/share" class="btn btn-primary" >share</a>
				
			</div>
		</div>
				{%endfor%}
			</div>
		</div>
	</div>
	</div>

<!-- Modal -->
<div class="modal" id="image-model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color:#def2c9;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image's blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="#" id="image-show" class="img-fluid" height="250" width="250">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
<script>
		function showModel(imageUrl){
			$('#image-model').modal('show');
			$('#image-show').attr('src',`/media/${imageUrl}`); 
		}
	</script>
{%endblock%}